[submodule "codex"]
	path = codex
	url = https://github.com/openai/codex
[submodule "opencode"]
	path = opencode
	url = https://github.com/anomalyco/opencode
[submodule "pi"]
	path = pi
	url = https://github.com/earendil-works/pi
